a:link { color: black; }
a:visited { color: black; }
a:hover { color: grey; }
a:active{ color: black; }

h1 {
  font-weight: 300;
  font-size: 32px;
  color:  #FFFFFF;
  padding: 5px 5px 5px 5px;
  background: #35A09C;
  border-radius: 5px;
  border-color: #35A09C;
  border-style: solid;
  border-width: 1px;
}

img {
	border: 0;
}

.before_body {
	margin-top: 50px;
	margin-bottom: 50px;
}

.before_body > img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.title {
	color: #fff735;
}
